<div class="user-list">
    <div class="table-wrapper">
      <table class="user-table-1">
        <thead>
          <tr>
            <th class="text-center">Profesor</th>
            <th class="text-center">Aplica a</th>
            <th class="text-center">Certificación</th>
            <th class="text-center">Acción</th> <!-- Nueva columna para aceptar o rechazar -->
          </tr>
        </thead>
        <tbody>
          <!-- Agrega filas de datos aquí si es necesario -->
          <tr>
            <td>Nombre del profesor</td>
            <td>Nombre de la clase</td>
            <td>Nombre de la certificación</td>
            <td>
              <button class="btn btn-primary">✔️</button>
              <button class="btn btn-danger">❌</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>