
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h2 class="user-list-title">Profesor Details</h2>
                </div>
            </div>

            <div class="professor-card">
                <div class="professor-name">Profesor: [Nombre del Profesor]</div>
                <div class="class-name">Clase a la que postula: [Nombre de la Clase]</div>
                <div class="certification">Certificación del profesor: [Nombre del Profesor]</div>
            </div>
        </div>
    </div>
</div>
