.welcome-header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.button-group {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.button-group h2 {
  margin-bottom: 10px;
}

.button-scroll {
  max-height: 200px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
}

.button {
  display: block;
  width: 100%;
  padding: 15px 20px; /* Ajusta el padding para hacer los botones más grandes */
  margin-bottom: 10px; /* Ajusta el margen entre los botones */
  border: none; /* Quita el borde para un aspecto más limpio */
  border-radius: 5px;
  background-color: #2196f3; /* Cambia el color de fondo a #2196f3 */
  color: #fff; /* Cambia el color del texto a blanco */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
}

.button:hover {
  background-color: #1976d2; /* Cambia el color de fondo al hacer hover */
}

.button-group:nth-child(2) {
  margin-top: 20px; /* Ajusta la cantidad de margen superior según sea necesario */
}