/* Estilos originales */

.welcome-header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.button-group {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.button-group h2 {
  margin-bottom: 10px;
}

.button-scroll {
  max-height: 200px;
  overflow-y: auto;
}

.button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
}

.button:hover {
  background-color: #1976d2;
}

.button-group:nth-child(2) {
  margin-top: 20px;
}

/* Estilos para pantallas más grandes (computadoras) */

@media (min-width: 768px) {
  .button-container {
    flex-direction: column; /* Cambia a columna para mostrar elementos uno encima del otro */
  }

  .button-group {
    width: 100%; /* Ancho completo para cada grupo */
    margin: 0 0 20px 0; /* Ajusta los márgenes entre los grupos de botones */
  }
  
  /* Estilos para que los botones se muestren 3 por fila dentro de cada grupo */
  .button-group .button-scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button-group .button {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
  }
}
