#carta-clase {
  width: 280px;
  height: 174px;
  min-width: 280px;
  min-height: 174px;
  margin-right: 20px;
  border-radius: 23px;
  border-top-left-radius: 23px;
}

#img-clase {
  border-radius: 23px;
  height: 174px;
  width: 280px;
  object-fit: cover;
  opacity: 0.7;
  filter: brightness(0.5);
}

#img-profesor {
  min-width: 85px;
  min-height: 85px;
  max-width: 85px;
  max-height: 85px;
}

#nav-btn {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav-responsive {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px);
  background-color: #2691d9;
  border-radius: 30px;
  padding: 10px;
  margin-left: 20px;
}
