/* Navbar */
.navbar {
    background-color: white;
    color: white;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .nav-link {
    color: white;
  }
  
  .dropdown-menu {
    background-color: #333;
  }
  
  .dropdown-item {
    color: white;
  }
  
  /* Navbar responsive */
  .navbar-responsive {
    background-color: white;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  
  .btn-outline-primary {
    color: white;
    border-color: white;
  }
  
  /* Título */
  h1 {
    color: #333;
  }
  
  /* Barra de búsqueda */
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50px;
    padding: 5px;
  }
  
  .form-input {
    border: none;
    background-color: transparent;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .left-pan {
    margin-left: -30px;
  }
  
  /* Cards */
  .card-title {
    color: white;
  }
  
  .card-text {
    color: white;
  }
  
  .btn-primary {
    background-color: #333;
    border-color: #333;
  }
  
  /* Section titles */
  h2 {
    color: #333;
  }