<app-title></app-title>

        <div class="formulario">
            <h2 class="text-center">Inicio de Sesión</h2>
            <form method="post">
                <div class="username">
                    <input type="text" required>
                    <label>Usuario</label>
                </div>
                <div class="password">
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="recordar">¿Olvidó su contraseña?</div>
                <input type="submit" value="Iniciar sesión">
                <div class="register">
                    Me quiero registrar <a class="btn" href="../register/register.html">Registro</a>
                </div>
            </form>
        </div>
