<!-- signin -->
<app-title></app-title>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="formulario mt-5">
                <h2 class="text-center">Inicio de Sesión</h2>
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" id="username">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" id="password">
                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                            <i class="fa-solid fa-eye-slash"></i>
                        </button>
                    </div>
                    <div class="mb-3 text-center">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> Recordar
                        </label>
                      </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </div>
                    <div class="mb-3 text-center">
                      <a href="#" class="ml-2">¿Olvidó su contraseña?</a>
                    </div>
                    <div class="text-center">
                        Me quiero registrar <a href="../views/signup/signup.component.html">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and jQuery for password toggle functionality -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    // Password toggle functionality
    $("#togglePassword").click(function () {
        const passwordInput = $("#password");
        passwordInput.attr("type", passwordInput.attr("type") === "password" ? "text" : "password");
    });
</script>
