<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="button-container">
        <div class="button-row">
          <button class="button" routerLink="/user-list-view">Usuarios</button>
        </div>

        <div class="button-row">
          <button class="button" routerLink="/clases-list-view">Clases</button>
        </div>

        <div class="button-row">
          <button class="button" routerLink="/profesores-list-view">Profesores</button>
        </div>
      </div>
    </div>
  </div>
</div>
