<div class="card">
    <div class="card-header">Account</div>
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="icon-profile m-2"><i class="fa-solid fa-user"></i></div>
            <div class="flex-grow-1">Personal Data</div>
            <div class="icon-arrow"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
        <div class="d-flex align-items-center">
            <div class="icon-achievement m-2"><i class="fa-solid fa-trophy"></i></div>
            <div class="flex-grow-1">Achievement</div>
            <div class="icon-arrow"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
        <div class="d-flex align-items-center">
            <div class="icon-workout m-2"><i class="fa-solid fa-bars-progress"></i></div>
            <div class="flex-grow-1">Workout Progress</div>
            <div class="icon-arrow"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
        <div class="d-flex align-items-center">
            <div class="icon-activity m-2"><i class="fa-solid fa-clock-rotate-left"></i></div>
            <div class="flex-grow-1">Activity History</div>
            <div class="icon-arrow"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
    </div>
</div>