<div class="box">
    <div class="account-section">
        <div class="title">Account</div>
        <div class="personal-data">
            <i class="fa-solid fa-user icon-profile"></i>
            <div class="text">Personal Data</div>
            <i class="fa-solid fa-chevron-right icon-arrow"></i>
        </div>
        <div class="achievement">
            <i class="fa-solid fa-trophy icon-achievement"></i>
            <div class="div">Achievement</div>
            <i class="fa-solid fa-chevron-right icon-arrow"></i>
        </div>
        <div class="workout-progress">
            <div class="div">Workout Progress</div>
            <i class="fa-solid fa-chevron-right icon-arrow"></i>
            <i class="fa-solid fa-bars-progress icon-workout"></i>
        </div>
        <div class="activity-history">
            <div class="div">Activity History</div>
            <i class="fa-solid fa-chevron-right icon-arrow"></i>
            <i class="fa-solid fa-clock-rotate-left icon-activity"></i>
        </div>
    </div>
</div>