/* Mostrar botones al deslizar en dispositivos móviles */
@media (max-width: 767px) {
  .table-responsive {
    position: relative;
    overflow: hidden;
  }

  .table-responsive table {
    width: 100%;
  }

  .table-responsive table td {
    white-space: nowrap;
  }

  .table-responsive table td:last-child {
    position: absolute;
    top: 0;
    right: -60px; /* Ancho de los botones */
    width: 60px; /* Ancho de los botones */
    text-align: center;
    background-color: #f9f9f9;
    transition: all 0.3s;
  }

  .table-responsive table tr:hover td:last-child {
    right: 0;
  }
}
