<div class="card-container" *ngIf="rol === 'Alumno'">
  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th class="col1">Planification ID</th>
          <th class="col4">Objective</th>
          <th class="col3"></th>
        </tr>
      </thead>
    </table>
    <div class="scrollable-tbody">
      <table>
        <tbody class="card-rows" *ngFor="let planificacion of planificacionesClase">
          <tr>
            <td class="col1">{{ planificacion.id_planificacion }}</td>
            <td class="col2">{{ planificacion.objetivo }}</td>
            <td class="col3">
              <button class="remove-button" *ngIf="isPlanificacionComun(planificacion.id_planificacion) === true" (click)="removePlanificacion(planificacion.id_planificacion)">Remove</button>
              <button class="join-button" *ngIf="isPlanificacionComun(planificacion.id_planificacion) === false" (click)="joinPlanificacion(planificacion.id_planificacion)">Join</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card-container" *ngIf="rol === 'Profesor'">
  <div class="card-body">
    <button class="request-class-button" *ngIf="!isProfesorClase(profesorId)" (click)="joinProfesorClase(profesorId)">Solicitar clase</button>
    <button class="unsubscribe-button" *ngIf="isProfesorClase(profesorId)" (click)="removeProfesorClase(profesorId)">Darme de baja</button>
  </div>
</div>