.card-container {
  min-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 23px;
  padding-bottom: 0;
}

.card {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 10px !important;
  border-radius: 23px !important;
  object-fit: cover !important;
}

.container-fluid {
  margin-top: 20px;
  margin-bottom: 0;
  overflow: hidden;
}

.btn {
  background-color: #3A6A87;
  color: #fff;
}
