.card-container {
  min-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 23px;
  padding-bottom: 0;
}

.card {
  width: 174px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 23px;
  object-fit: cover;
}

.container-fluid {
  margin-top: 20px;
  margin-bottom: 0;
  overflow: hidden;
}

.btn {
  background-color: #3A6A87;
  color: #fff;
}
