<div class="card-container">
  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th>Planification ID</th>
          <th>Objective</th>
          <th>Join</th>
        </tr>
      </thead>
      <tbody *ngFor="let planificacion of planificaciones">
        <tr>
          <td>{{ planificacion.id_planificacion }}</td>
          <td>{{ planificacion.objetivo }}</td>
          <td>  <button (click)="joinPlanificacion(planificacion.id_planificacion)">Join</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>