<!-- class-list -->
<div class="class-list">
  <h2>Class List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre de la Clase</th>
        <th>Cantidad de Alumnos</th>
        <th>Profesor a Cargo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of classes">
        <td>{{ class.className }}</td>
        <td>{{ class.numberOfStudents }}</td>
        <td>{{ class.professor }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Class List</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <!-- <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let class of classes"> -->
          <td>{{ classes.tipo }}</td>
            <!-- <td>
              <button class="btn btn-primary" (click)="editUser(user)">Editar</button>
              <button class="btn btn-danger" (click)="deleteUser(user)">Eliminar</button>
            </td> -->
          <!-- </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
