
<div class="container">
    <div class="formulario">
        <h2>Registro</h2>
        <form method="post">
            <div class="nombre">
                <input type="text" required>
                <label>Nombre</label>
            </div>
            <div class="apellido">
                <input type="text" required>
                <label>Apellido</label>
            </div>
            <div class="password">
                <div class="row">
                    <div class="col">
                        <input type="password" required>
                        <label>Contraseña</label>
                    </div>
                    <div class="col-md-4">
                        <a class="fa-solid fa-eye-slash"></a>
                    </div>
                </div>
            </div>
            <div class="conf-password">
                <div class="row">
                    <div class="col">
                        <input type="password" required>
                        <label>Confirmar contraseña</label>
                    </div>
                    <div class="col-md-4">
                        <a class="fa-solid fa-eye-slash"></a>
                    </div>
                </div>
            </div>
            <input type="submit" value="Registrarse">
            <div class="register">
                Ya tengo una cuenta <a class="btn" href="../views/login.html">Iniciar sesión</a>
            </div>
        </form>
    </div>
</div>