/* Estilos generales */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    margin-top: 20px;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
}

.navbar-brand {
    font-size: 24px;
}

.nav-link {
    color: #fff !important;
}

.navbar-toggler-icon {
    background-color: #fff;
}

/* Estilos para la sección de edición de perfil */
h1 {
    text-align: center;
    font-size: 36px;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    text-align: center;
    font-size: 18px;
    border: none;
}

/* Estilos para los campos de entrada */
.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

/* Estilos para el botón de actualizar */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

/* Estilos para la imagen del perfil */
.picture img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
