/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el encabezado */
.navbar {
    background-color: #2691d9;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #f0f0f0;
}

/* Estilos para los títulos */
h1, h2 {
    text-align: center;
    padding-top: 20px;
}

/* Estilos para las tarjetas */
.card {
    width: 20rem;
    margin: 20px auto; /* Centra horizontalmente las tarjetas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

/* Estilos para los botones */
.btn-primary {
    background-color: #2691d9;
    border-color: #2691d9;
}

.btn-primary:hover {
    background-color: #1c7bbf;
    border-color: #1c7bbf;
}

/* Estilos para el botón de navegación */
.navbar-toggler-icon {
    background-color: white;
}

/* Estilos para el botón de navegación en dispositivos móviles */
.d-lg-none .btn-outline-primary {
    background-color: #2691d9;
    border-color: #2691d9;
    color: white;
}

.d-lg-none .btn-outline-primary:hover {
    background-color: #1c7bbf;
    border-color: #1c7bbf;
    color: white;
}
