<div class="d-lg-none d-flex justify-content-center align-items-center fixed-bottom bg-primary rounded-pill p-2 m-3">
    <a class="btn btn-outline-light rounded-circle mx-2" href="../home/home.html">
      <i class="fa-regular fa-home fa-lg"></i>
    </a>
    <a class="btn btn-outline-light rounded-circle mx-2" href="../students_home/student_home.html">
      <i class="fa-regular fa-dumbbell fa-lg"></i>
    </a>
    <a class="btn btn-outline-light rounded-circle mx-2" href="../perfil/perfil.html">
      <i class="fa-regular fa-user fa-lg"></i>
    </a>
  </div>