<app-navbar></app-navbar>

<h1>Planificación {{ planificacionId }}</h1>

<p>Objetivo: {{ planificacionObjetivo }}</p>

<p>Horas semanales: {{ planificacionHoras }}</p>

<p>Nivel: {{ planificacionNivel }}</p>

<div class="button-container">
    <button class="remove-button" *ngIf="planificacionActive === true" (click)="removePlanificacion(planificacionId)">Remove</button>
    <button class="join-button" *ngIf="planificacionActive === false" (click)="joinPlanificacion(planificacionId)">Join</button>
</div>

<app-navbar-responsive></app-navbar-responsive>