body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    color: #444;
}

p {
    padding: 0 20px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.join-button, .remove-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.remove-button {
    background-color: #e6300b; /* Red */
    color: white;
}

button:hover {
    opacity: 0.8;
}