h1::first-letter {
    text-transform: uppercase;
}

h1 {
    text-align: center;
    width: 100%;
    padding-top: 40px;
  }
  
  p {
    text-align: center;
    width: 100%;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }