body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #7c7c7c;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: #fff;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
        height: auto;
    }

    .logo{
        margin-bottom: 10px;
    }

    nav{
        padding: 10px 0pz;
    }

    nav a{
        padding: 0;
    }
}