/* Estilos de home.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 70px;
    background-color: #7c7c7c;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
    color: black; /* Cambio de color */
}

nav a:hover {
    color: #2691d9; /* Cambio de color */
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        padding: 10px 0;
    }

    nav a {
        padding: 0;
    }
}

.frase {
    margin-top: auto;
    text-align: center;
    margin-top: 20px; /* Ajuste de margen superior */
}

/* Nuevos estilos para el formulario de búsqueda */
.container {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: auto;
    height: auto;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border: 1px solid #d3d3d3; /* Contorno gris claro */
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Color de fondo gris claro */
    margin-bottom: 25px;
}

.search-input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #d3d3d3; /* Borde gris claro */
    outline: none;
    font-size: 1rem;
    min-width: 300px;
}

.search-button {
    background: #2691d9;
    padding: 10px 20px;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    outline: none;
}

@media (max-width: 700px) {
    .frase {
        margin-top: 70px;
    }
}

/* Agregamos estilos para el efecto de superposición y texto en hover */
.carousel-overlay {
    position: relative;
    display: inline-block;
}

.carousel-overlay:hover .overlay-text {
    opacity: 1;
    transform: translateY(-50%);
}

.carousel-overlay:hover img {
    filter: brightness(70%); /* Oscurecer la imagen en hover */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); /* Ajusta la posición vertical */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel-container {
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px 0; /* Ajusta el margen superior e inferior según tu diseño */
  }
  
  .carousel-list {
    display: inline-flex;
  }

/* Agrega estos estilos al final de tu archivo CSS

/* Estilos para el carousel
.carousel-inner {
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.carousel-inner .carousel-item {
  flex: 0 0 calc(33.33% - 10px); /* Ajusta el ancho de cada tarjeta
  margin-right: 10px; /* Espacio entre las tarjetas
  transition: transform 0.5s ease-in-out;
}

.carousel-inner .carousel-item.active {
  transform: translateX(0);
}

.carousel-inner .carousel-item.next {
  transform: translateX(calc(33.33% + 10px)); /* Ajusta el valor para mostrar la siguiente tarjeta
}

.carousel-inner .carousel-item.prev {
  transform: translateX(calc(-33.33% - 10px)); /* Ajusta el valor para mostrar la tarjeta previa
}

.carousel-control-prev, .carousel-control-next {
  width: 15px;
}

/* Estilos para las imágenes en las tarjetas
.carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
}

/* Estilos para los botones de control del carousel
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #2691d9;
}

/* Estilos para los botones de control en hover
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: #1380b5;
}
*/