<app-navbar></app-navbar>

<app-profile-picture [image]="'../../assets/default-profile-picture.jpeg'" [name]="'Lucas Garcia'"></app-profile-picture>

<div class="stats-container">
    <app-profile-stats-box [label]="'Height'" [number]="'180cm'"></app-profile-stats-box>
    <app-profile-stats-box [label]="'Weight'" [number]="'60kg'"></app-profile-stats-box>
    <app-profile-stats-box [label]="'Age'" [number]="'21yo'"></app-profile-stats-box>
</div>

<app-account-info></app-account-info>

<app-notifications-box></app-notifications-box>
<app-navbar-responsive></app-navbar-responsive>