<form>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone number</label>
      <input type="tel" class="form-control" id="phone" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" required>
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <input type="text" class="form-control" id="confirm-password" required>
    </div>
    <div class="mb-3">
      <label for="birthdate" class="form-label">Adress</label>
      <input type="date" class="form-control" id="birthdate" required>
    </div>
    <div class="mb-3">
      <label for="birthdate" class="form-label">IDN</label>
      <input type="date" class="form-control" id="birthdate" required>
    </div>
</form>