<form [formGroup]="form">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" required>
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Lastname</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" formControlName="email" required>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone number</label>
    <input type="tel" class="form-control" id="phone" formControlName="phone" required>
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Gender</label>
    <input type="text" class="form-control" id="gender" formControlName="gender" required>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" formControlName="address" required>
  </div>
  
</form>

<div class="d-lg-none d-flex justify-content-center align-items-center fixed-bottom rounded-pill p-2 m-3">
  <a class="btn btn-sm" routerLink="/profile">
  Cancel
  </a> 
  <a class="btn btn-sm" (click)="onSubmit()">
  Update
  </a> 
</div>