<nav class="navbar navbar-expand-lg bg-color">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <img src="../../../assets/logo.png" alt="logo" width="50" height="50" />
        <a class="navbar-brand" href="#">Flex&Fitness</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Profesores
            </a>
            <ul class="dropdown-menu" style="left: auto">
              <li><a class="dropdown-item" href="#">Prof.1</a></li>
              <li><a class="dropdown-item" href="#">Prof.2</a></li>
              <li><a class="dropdown-item" href="#">Prof.3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Clases
            </a>
            <ul class="dropdown-menu" style="left: auto">
              <li><a class="dropdown-item" href="#">Musculacion</a></li>
              <li><a class="dropdown-item" href="#">Pilates</a></li>
              <li><a class="dropdown-item" href="#">Yoga</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>