.navbar {
    background-color: white;
    color: white;
  }
  
  .navbar-brand {
    color: rgb(0, 0, 0);
  }
  
  .nav-link {
    color: rgb(0, 0, 0);
  }
  
  .dropdown-menu {
    background-color: #333;
  }
  
  .dropdown-item {
    color: rgb(0, 0, 0);
  }
